/* VERTICAL ALIGN DIZ SE O TEXTO VAI FICAR NO TOP, NO MEIO OU EMBAIXO */

/* PARA COLOCAR UM ITEM DO LADO DO OUTRO EU USO FLEX-BOX
DISPLAY: FLEX; */

/* tenho align-item e tenho text-align  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color:#1d1d1d/*  #483D8B *//* #0e0f10 */;
  
}

html{
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Separando a tela em dois, precisamos definir container como absouto */
.container{
    display: flex;
}

.menu{
    background-color: #070708;
}
.content{
    
    margin-left: 10vh;
    padding-left: 10%;
    padding-right: 10%; 
/*     max-width: 1100px;
    margin-left: auto;
    margin-right: auto; */

    /* height: 450vh; */
;
    
}

.title{
    /* width: 100%; */
    text-align: center;
    color: white;
    /* border: 1px solid white; */
    margin-top: 50px;
    margin-bottom: 50px;
}

#about, #resume, #contact{
    scroll-margin-top: 50px ;
    margin-left: 30px;
    margin-right: 30px;
}

/* BLOCK 01 - INITIAL MENU NAV BAR */

.menu{
    width: 12vh;
    height: 100vh;
    position: fixed;
    
}

.top-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 15PX;
    border-bottom: 1px solid #282828;

}
.letra1{
    font-size: 10px;
    margin-bottom: 5px;
}
.letra2{
    font-size: 9px;
    text-align: center;
    color: #a5a5a5;
    margin-bottom: 5px;
    
}

/* ANIMAÇÃO DA BARRA ESQUERDA INTI */

h2.fill-animation {
    position: relative;
    color:#252839;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
    font-size: 28px;
}

h2.fill-animation::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color:#25ca5f /* #01fe87 */;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
    animation: animate 6s linear forwards;
}

@keyframes animate {

    0%{
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* ANIMAÇÃO DA BARRA ESQUERDA END */

.middle-menu p a {
    font-size: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    
}

.middle-menu a:hover{
    color: #25ca7f;
}.middle-menu p{
    margin-bottom: 30px;
}

/* BLOCK 01 - END - MENU NAV BAR */

/* BLOCK 02 - INITIAL - CONTAINER */



/* CLasse pai, por isso o flex, nada para vc tudo para seus filhos */
.content-initial-2{
    display: flex;
    background-color: #070708;
    /* width: 100%;
     */

}

.content-initial-2-photo{
    width: 30%;
    
    
}

/* .content-initial-2-photo{

} */

.content-initial-2-photo img{
    border-radius: 50%;
    height: 180px;
    width: 180px;

    
}

.content-initial-2-self{
   /*  width: 70%; */
    align-items: center;
    justify-content: center;
    padding-left: 15px;

}

.content-initial-2-self .timelineitem-period{
    font-weight:300 ;
}

.content-initial-2-self .timelineitem-period p{
    margin-left: 10px;
}


/* BLOCK 03 - INIT - SERVICE ITENS */

.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*     align-items: center;
    justify-content: center; */
}

.service-container .service-item{
/*     height: 300px; a gtn não precisa do height ai, então vamos tira-lo
 */ 
    width: calc(33.33% - 32px);
/*     box-sizing: border-box;  excluimos devido a ter colocado como estilo universal *
 *//*     margin-bottom: 16px;
 */
    margin: 16px;
    
    /* box-sizing: border-box;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap; */
}

.service-container .service-item .service-item-itemcard{
    background-color: #070708;
    border: 1px solid black;

    border-radius: 16px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.service-container .service-item .service-item-itemcard:hover{
    border:1.5px solid #25ca5f;
}

.service-container .service-item .service-item-itemcard .service-item-itemcard-icon{
    
    background-color: #0e0f10;
    height: 80px;
    border: 1px solid black;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-container .service-item .service-item-itemcard .service-item-itemcard-icon:hover{
    border:1.5px solid #25ca5f;

}

.service-container .service-item .service-item-itemcard .service-item-itemcard-icon{
    font-size: 30px;
}

.service-container .service-item .service-item-itemcard
.service-item-itemcard-title{
    margin-top: 16px;
    margin-bottom: 16px;
}

.service-container .service-item .service-item-itemcard
.service-item-itemcard-description{
    text-align: center;
}

/* BLOCK 03 - END - SERVICE ITEMS */

/* BLOCK 05 - INIT - RESUME */

.content .experiencesection{
    /* height: 100vh; */
    /* background-color:  #6495ED ; */
}

.flexbox{
    display: flex;
    gap: 30px;
}
.flexbox .flexbox-education {
    width: 50%;
}

.flexbox .flexbox-projects {
    width: 50%;
}

/* Vamos criar uma classe card para tornar nosso código mais prossional
Ela será usada como coringa  */

.card{
    background-color: #0e0f10;
 /*    height: 80px; */
    border: 1px solid black;
  /*   width: 80px; */
    border-radius: 8px;
/*     display: flex;
    align-items: center;
    justify-content: center; */
    padding: 30px;
    
}

.timelineitem{
    /* margin-bottom: 30px;  MARGIN É EXTERNO*/
    padding-bottom: 30px;/* Padding é interno */
    border-left: 1px solid #25ca7f;
    padding-left: 32px;
    position: relative;
}

.timelineitem-period{
    font-size: 12px;
    color: #25ca7f;
    margin-bottom: 8px;
    margin-top: 8px;
}


.timelineitem-marker{
    display: flex;
    align-items: center;
    position: absolute;/* ele é absoluto em relação ao elemento pai dele */
    top: 8px;
    left: -7px;
}

.timelineitem-marker-circle{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #25ca7f;
}

.timelineitem-marker-line{
    height: 1px;/* UMA LINHA, 1px está de bom tamanho */
    width: 15px;
    border-radius: 50%;
    background-color: #25ca7f;
}

/* Block 04.1 - Skills */

/* progress bar */
.progressbar{
    background-color: #1D1D22/*  #0e0f10 */;
    height: 8px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 60px;
    margin-top: 30px;
    
}

.progressbar .progressbar-done{
    background-color: #25ca7f;
    height: 100%;
    
    border-radius: 8px;
    position: relative;
}

.progressbar .progressbar-title{
    position:absolute;
    top: -30px;
}

.progressbar .progressbar-done .progressbar-done-text{
    position: absolute;
    top:-30px;
    right: 0;
}

.paddingtop60{
    padding-top: 60px !important; /* quando é assim, o arquivo não será sobreescrevido */
}

.progressbar-done-check{
    height: 20px;
    width: 20px;
    border: 3px solid #25ca5f;
    border-radius: 50%;
    position: absolute;
    right:0px;
    top: -6px;
    
    background-color: #0e0f10;
}

/* BLOCK 05 - CONTACT */

.contactitem{
    text-align: center;
    flex-direction: column;
    width: 30%;
    align-items: center;
    gap: 20px;
}

.contactitem .contactitem-icon{
    font-size: 35px;
    height: 70px;
    width: 70px;
    border: 1px solid #25ca5f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactitem-valeu a{
    color: white;
    text-decoration: none;
}
.contactitem-valeu a:hover{
    color: #25ca5f;
    text-decoration: underline;
    
}

.contactsection{
    margin-bottom: 100px;
}

/* RESPONSIVIDADE INIT */
/* MEDIA KERY */

@media only screen and (max-width: 1160px) {
    .menu{
        display: none;
    }

    .content{
        padding-left: 0px;
        
    }

    .content-initial-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-initial-2-self{
        margin-top: 16px;
    }

    /* aplico p/ o pai e os filhos que tem p */
    .content-initial-2-self, .content-initial-2-self p {
        margin-top: 8px;
        line-height: 40px;
    }

   .service-container {
        flex-direction: row;
    } 
    .service-container .service-item{
        width: 40%; 
        
        margin-left: 16px;
        margin-right: 16px;
    } 
    

    

}

@media only screen and (max-width: 1246px) {
    .service-container{
        flex-direction: row;

    }

    .service-container .service-item{
        width: 40%;
        margin-left: 16px;
        margin-right: 16px;

    }

    .flexbox{
        flex-direction: column;
        align-items: center;
    }

    .flexbox .flexbox-education{
        width: 100%;
    }

    .flexbox .flexbox-projects{
        width: 100%;
    }

    

}




@media only screen and (max-width: 984px) {
    .service-container{
        flex-direction: column;

    }

    .service-container .service-item{
        width: 90%;
        margin-left: 16px;
        margin-right: 16px;

    }

}

